html,body,#__next{height:100%}
body{font-family:Inter, ui-sans-serif, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial}
input{display:block;padding:8px;border:1px solid #ddd;border-radius:6px;width:100%}
button{padding:8px 12px;border-radius:6px;background:#111;color:#fff;border:0}
